---
layout: default
---

{% include site_tags.html %}

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.updated %} • <b>updated: </b>{{ post.updated | date_to_long_string }}{% endif %}{% if post.author %} • {{ post.author }}{% endif %}{% if post.place %} • {{ post.place }}{% endif %} </span>


        {% if post.tags %}  <span class="post-meta"> • </span>
         {% for tag in post.tags %}
           <a href="{{ site.baseurl }}/tags.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag" class = "tag" >
             {{ tag }} </a>  &nbsp
         {% endfor %}
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


</div>
