<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl | append : '/index.html' }}">{{ site.title }}</a>

  <nav  class="main-menu">
  <input type="checkbox" id="menu" />
  <label for="menu"></label>
  <div class="trigger">

    <a class="page-link" href="{{ site.baseurl }}/index.html"><span style = "font-family: 'lablogIcons';">  &#xe605; </span> {{ site.title }}</a>

    {% for page in site.pages %}{% if page.url == "/tasks.html" %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><span style = "font-family: 'lablogIcons';">  &#xf046; </span> {{ page.title }}</a>
    {% endif %}{% endfor %}

    {% for page in site.pages %}{% if page.url == "/tags.html" %}
<a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><span style = "font-family: 'lablogIcons';">  &#xe600; </span> {{ page.title }}</a>
    {% endif %}{% endfor %}

    {% for page in site.pages %}{% if page.url == "/archive.html" %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><span style = "font-family: 'lablogIcons';">  &#xe602; </span> {{ page.title }}</a>
    {% endif %}{% endfor %}

    <br>

    {% for page in site.pages %}{% if page.menu %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
        <span style = "font-family: 'lablogIcons';">  &#xe60a; </span>
        {% assign menutag = page.title | truncate: 10  %}
        {% if page.menu.size !=  %}
          {% assign menutag = page.menu %}
        {% endif %}
        {{ menutag }}
      </a>
    {% endif %}{% endfor %}

    {% for post in site.posts %}{% if post.menu %}
      <a class="page-link" href="{{ post.url | prepend: site.baseurl }}"><span style = "font-family: 'lablogIcons';">  </span> {{ post.title }}</a>
    {% endif %}{% endfor %}

    <br>

    {% for page in site.pages %}{% if page.url == "/MENU.html" %}
    <div class="menu-content">
      {{ page.content | markdownify }}
    </div>
    {% endif %}{% endfor %}

    {% for page in site.pages %}{% if page.layout == 'menu' %}
      <div class="menu-content">
        {{ page.content | markdownify }}
      </div>
    {% endif %}{% endfor %}

  </div>

  </nav>


  </div>


</header>
