<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl | append : '/index.html' }}">{{ site.title }}</a>

  <nav  class="main-menu">
  <input type="checkbox" id="menu" />
  <label for="menu"></label>
  <div class="trigger">
    {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>

  </nav>


  </div>


</header>
